
/* Título de la sección */
.title {
    font-size: 24px;
    color: #000;
    margin-bottom: 20px;
}

/* Lista de elementos (juegos) */
.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

/* Estilo de los elementos de la lista */
.list-item {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center;
    gap: 10px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

/* Información de cada juego */
.game-info {
    text-align: center;
}

/* Nombre del juego */
.game-name {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #000;
}

/* Nombre del creador */
.creator {
    font-size: 14px;
    color: #333;
    display: block;
    margin-top: 5px;
}

/* Botón de unirse a un juego */
.join-button {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-color: #a9a9a9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.join-button:hover {
    background-color: #FF5E00;
}

/* Mensaje cuando no hay juegos disponibles */
.no-games {
    font-family: 'Press Start 2P', sans-serif;
    color: #FFFFFF;
    font-size: 15px;
    margin-bottom: 15px;
    text-align: center;
}

/* Contenedor que se alinea a la derecha */
.right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 58.5%; /* Ocupa solo el 50% del ancho */
    max-width: 2000px;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    right:0;
    transform: translateY(-50%);
}

.avaliable {
    font-family: 'Press Start 2P', sans-serif;
    color: #ffffff;
    font-size: 26px;
    margin-bottom: 15px;
    text-align: center;
}