@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');


/* Lobby Container */
.lobby-container {
    background-color: rgba(255, 255, 255, 0.8);
    background-image: url('/img/lobby2.png'); /* Ruta de tu imagen */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin: 0; /* Elimina márgenes para que el contenedor ocupe toda la pantalla */
    text-align: center;
    position: center; /* Para manejar el contenido en relación con el contenedor */
}
/*
.lobby-content {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 700px;
    text-align: center;
}
*/

/* Title */
.lobby-title {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 2rem;
    color: rgb(255, 200, 0);
    margin-bottom: 6px;

}

/* Subtitle */
.lobby-subtitle {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 9px;
    font-weight: 900;
}

/* User list and items */
.user-list {
    font-size: 1.2rem;
    list-style-type: none;
    padding: 0;
    color: #111;
    margin-bottom: 20px;
    font-weight: 900;
}

/* Estilo para cada item de usuario */
.user-item {
    background-color: #fff;
    color: #7334C1; /* Color del texto */
    margin: 8px auto; /* Centra el item horizontalmente */
    padding: 1px 16px; /* Reducción adicional del padding vertical */
    border-radius: 15px; /* Bordes redondeados */
    width: 50%; /* Mantiene el mismo ancho */
    transition: all 0.3s ease;
    border: 3px solid #4B0082; /* Borde violeta */
}


/* No users text */
.no-users {
    font-family: 'Merriweather', serif;
    font-size: 1.1rem;
    color: #FFFF;
    font-weight: 700; /* Hace la tipografía más gruesa */
}

/* Start game button */
.start-game-button {
    background-color: #FFBF00;  /* Color de fondo amarillo */
    color: white;
    border: 2px solid #ED4D00;  /* Borde de color rojo oscuro */
    padding: 8px 20px;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    width: 60%;
    font-weight: 600;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.start-game-button:hover {
    background-color: #ED4D00;  /* Cambia el color de fondo a rojo oscuro */
    border-color: #FFBF00;  /* Cambia el borde a color amarillo */
}

/* Game info */
.game-info {
    margin-top: 20px;
}

.current-player {
    font-size: 1.5rem;
    color: #ff4081;
}

.waiting-text {
    font-size: 1.1rem;
    color: #555;
}

/* Topic selected */
.topic-selected {
    font-size: 1.1rem;
    color: #333;
    margin-top: 10px;
}

/* Question section */
.question-container {
    margin-top: 20px;
}

.category-title {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.question-text {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 20px;
}

/* Option buttons */
.option-button {
    margin: 8px;
    padding: 10px;
    background-color: #ff4081;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.option-button:hover {
    transform: scale(1.05);
    background-color: #9c27b0;
}
