.wheel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wheel {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 5px solid #ccc;
    position: relative;
    overflow: hidden;
    transition: transform 3s ease;
}

.wheel.spinning {
    transition: transform 3s ease;
}

.segment {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: lightblue; /* Color de fondo de cada segmento */
    border: 2px solid #fff; /* Borde blanco para los segmentos */
    box-sizing: border-box;
    transform-origin: 100% 100%; /* Punto de rotación para los segmentos */
    display: flex;
    align-items: center;
    justify-content: center;
}

.segment-0 {
    transform: rotate(0deg);
}

.segment-1 {
    transform: rotate(90deg);
}

.segment-2 {
    transform: rotate(180deg);
}

.segment-3 {
    transform: rotate(270deg);
}

.arrow {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: red;
}

.topic-selected {
    font-family: 'Merriweather', serif !important;
    font-size: 0,8rem !important;
    color: #000 !important;
    margin-top: 20px !important;
}
button {
    padding: 1px 8px; /* Espaciado interno */
    background-color: #fff; /* Color de fondo del botón */
    color: #9c27b0; /* Color del texto */
    border: 2px solid #9c27b0; /* Borde morado */
    border-radius: 50px; /* Bordes redondeados */
    font-size: 1.2rem; /* Tamaño de la fuente */
    font-family: 'Merriweather', sans-serif; /* Tipo de fuente */
    cursor: pointer; /* Cambia el cursor cuando el mouse está sobre el botón */
    transition: all 0.3s ease; /* Transición suave para el hover */
    width: auto; /* Asegura que el tamaño del botón se ajuste al contenido */
    position: relative;
}

button:hover {
    background-color: #ADD8E6; /* Color de fondo cuando se pasa el ratón por encima */
    transform: scale(1.05); /* Efecto de aumento en el tamaño */
    position: relative;
}

button:disabled {
    background-color: #e0e0e0; /* Fondo gris cuando está deshabilitado */
    border: 6px solid #bdbdbd; /* Borde gris */
    color: #fff; /* Texto gris cuando está deshabilitado */
    cursor: not-allowed; /* Cambia el cursor para indicar que no se puede interactuar */
    position: relative;
}